body {
  font-family: Consolas, monaco, monospace;
}

li {
  display: inline;
  margin-right: 41%;
}

h1,
h2 {
  text-align: center;
}

.system {
  text-align: center;
}

.text {
  padding: 2px;
  margin: 2px;
}

.center {
  display: inline-block;
}

.legendText {
  width: 150px;
  text-align: center;
}

.PSA {
  width: 75px;
  text-align: center;
}

.titles {
  font-weight: bold;
  display: table;
  width: 1050px;
  table-layout: fixed;
}

div.titles span {
  display: table-cell;
  text-align: center;
}

.failed {
  background-color: red;
  color: white;
}

.originalReplacement {
  background-color: darkgreen;
  color: white;
}

.originalRefurbishment {
  background-color: white;
}

.replacementRefurbishment {
  background-color: gray;
  color: white;
}

.terroristWatch {
  background-color: orange;
  color: white;
}

.finalReplacement {
  background-color: green;
  color: white;
}
